  /* Google Font Link */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      text-decoration: none;
      font-family: 'Ubuntu', sans-serif;
  }

  nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 70px;
      padding: 20px;
      transition: all 0.4s ease;
  }

  nav.sticky {
      padding: 15px 20px;
      background: white;
      height: 70px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      z-index: 1000;
  }

  nav .nav-content {
      height: 100%;
      max-width: 1200px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  nav .logo a {
      font-weight: 500;
      font-size: 35px;
      color: #ffffff;
      font-family: 'Dancing Script', cursive;
      font-size: 50px;
  }

  nav.sticky .logo a {
      color: #6F4E37;
  }

  .nav-content .nav-links {
      display: flex;
  }

  .nav-content .nav-links li {
      list-style: none;
      margin: 0 8px;
  }

  .nav-links li {
      position: relative;
    
  }
  

  .nav-links li a {
      text-decoration: none;
      color: #ffffff;
      font-size: 20px;
      padding: 10px 10px;
      /* transition: all 0.3s ease; */
      text-shadow: 1rem;
     
  }

  .nav-links .dropdown-content {
      display: none;
      position: absolute;
      background-color: #ffffff;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      z-index: 1;
  }

  .nav-links .dropdown-content a {
      color: #000000;
      padding: 12px 16px;
      display: block;
      text-decoration: none;
  }

  .nav-links .dropdown-content a:hover {
      background-color: #f1f1f1;
  }

  .nav-links li:hover .dropdown-content {
      display: block;
  }

  .nav-links li a:hover {
      color: rgb(0, 0, 0);
  }

  nav.sticky .nav-links li a {
      color: #000000;
  }

  nav.sticky .nav-links li a:hover {
      color: #0E2431;
  }
  .navbar .logo img {
    transition: all 0.3s ease;
}
  .home {
      height: 700px;
      width: 100%;
      background: url("images/2.jpeg") no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
  }
h2{
  font-size: 30px;
  margin-bottom: 6px;
  color: #4070f4;
}
.text{
  text-align: justify;
  padding: 40px 80px;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
}
.features{
  margin-top: -150px;
}
.reviews{
  margin-top:-150px;
}
.venues{
  margin-top:-150px;
}
.reviews h1{
  font-size: 50px;
  color:rgba(137, 72, 3, 0.722);
  font-family: 'Montserrat', sans-serif;
  font-weight:500;
}
.ftr{
  font-weight: 500;
  font-size: 35px;
  color:#000000;
  font-family: 'Dancing Script', cursive;
 font-size: 35px;
}
.ftrr{
  background-color:#E5E4E2;
  
}
.foot{
  margin-top:-75px;
}

.card{
  overflow: hidden;
}
.card img{
  transition: all 0.5s ease;

}
.card:hover img{
  transform: scale(1.1);
  
}


